In [1]:
import pandas as pd

In [27]:
original_df = pd.read_csv('https://raw.githubusercontent.com/DiploDatos/AprendizajeSupervisado/master/practico/data/train.csv')
original_df['AdoptionSpeed'].unique()

array([2, 1, 4, 3, 0])

In [29]:
original_df.sample(5)

,Type,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,FurLength,Vaccinated,Dewormed,Sterilized,Health,Quantity,Fee,State,Description,AdoptionSpeed,PID
3264,2,3,266,0,2,1,4,7,2,1,1,1,2,1,1,0,41326,awaiting adoption kitten.,2,4609
5192,1,2,307,0,1,1,2,0,2,1,3,3,2,1,1,0,41326,It is my home away from dogs born. Dog mother ...,2,7353
7373,1,4,307,0,1,2,0,0,2,1,1,1,2,1,1,0,41326,..,1,10372
3946,1,3,307,0,2,1,2,0,2,2,1,1,2,1,1,0,41326,Beautiful 3-4 months old female German Sherper...,3,5584
6396,2,17,266,0,2,4,7,0,2,1,3,3,2,1,1,0,41401,"Hi, this is a cat whose owner has to let her g...",4,8983

In [22]:
original_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10582 entries, 0 to 10581
Data columns (total 20 columns):
Type             10582 non-null int64
Age              10582 non-null int64
Breed1           10582 non-null int64
Breed2           10582 non-null int64
Gender           10582 non-null int64
Color1           10582 non-null int64
Color2           10582 non-null int64
Color3           10582 non-null int64
MaturitySize     10582 non-null int64
FurLength        10582 non-null int64
Vaccinated       10582 non-null int64
Dewormed         10582 non-null int64
Sterilized       10582 non-null int64
Health           10582 non-null int64
Quantity         10582 non-null int64
Fee              10582 non-null int64
State            10582 non-null int64
Description      10576 non-null object
AdoptionSpeed    10582 non-null int64
PID              10582 non-null int64
dtypes: int64(19), object(1)
memory usage: 1.6+ MB

In [3]:
one_hot_columns = {
        one_hot_col: original_df[one_hot_col].max()
        for one_hot_col in ['Gender', 'Color1']
    }

In [4]:
one_hot_columns

{'Gender': 3, 'Color1': 7}

In [6]:
embedded_columns = {
        embedded_col: original_df[embedded_col].max() + 1
        for embedded_col in ['Breed1']
    }

In [7]:
embedded_columns

{'Breed1': 308}

In [24]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
direct_features = []
direct_features.append(scaler.fit_transform(original_df[['Age','Fee']]))

In [25]:
direct_features

[array([[0.01176471, 0.03333333],
        [0.01568627, 0.05      ],
        [0.00392157, 0.        ],
        ...,
        [0.00784314, 0.        ],
        [0.03529412, 0.        ],
        [0.00392157, 0.        ]])]